* {
  font-family: sans-serif;
}

img {
  width: 200px;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}

.posts {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
}

.blogPost {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem;
  width: 80vw;
}
